/*-----SIDEBAR--------------------*/

#sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 310px;
    background-color: #181818;
    bottom: 24px;
    padding-top: 0px;
    position: fixed;
    left: 0;
    top: 50px;
    border: #2b2b2b 1px solid;
}

#sidebar.closed {
    transform: translateX(-235px);
}

#sidebar.closed svg {
    transform: translateX(235px);
}

#sidebar a {
    display: block;
    color: white;
    padding: 26px 20px 26px 80px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

#sidebar.closed svg.onpage {
    border-left: #00ffff 2px solid;
    left: -2px;
}

#sidebar:not(.closed) a.onpage {
    border-left: #00ffff 2px solid;
    left: -2px;
}

svg * {
    stroke: #AFAFAF;
}

svg:hover * {
    stroke: white;
}

#sidebar a svg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#sidebar:not(.closed) a svg * {
    stroke: white;
}

#sidebar a svg #little_shit {
    fill: #AFAFAF;
}

#sidebar a:hover svg #little_shit {
    fill: white;
}

#sidebar:not(.closed) a svg #little_shit {
    fill: white;
}

/*----- General --------------------*/

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1f1f1f;
    color: white;
}

#content {
    margin-left: 309px;
    margin-top: 100px;
    /* padding: 25px 30px; */
    display: flex
}

body.sidebar-closed #content {
  margin-left: 75px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 11.5px 0;
    background-color: #181818;
    border: #2b2b2b 1px solid;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 49px;
    text-align: center;
    background-color: #1f1f1f;
    border: #2b2b2b 1px solid;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 10;
    padding-right: 15px;
}

#searchbar {
    margin-left: auto;
    margin-right: 15px;
    padding: 8px 12px;
    border: #2b2b2b 1px solid;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: white;
    font-size: 16px;
    outline: none;
    width: 200px;
    transition: width 0.3s ease;
}

#searchbar::placeholder {
    color: #afafaf;
}

#searchbar:focus {
    /* width: 250px;
    background-color: #3a3a3a; */
    outline: none;
    border: 1px solid #00ffff; /* cyan highlight for focus*/
}

#backbutton{
    position: fixed;
    left: 1px;
    top: 1px;
}

#forwardbutton{
    position: fixed;
    left: 39px;
    top: 1px;
}

/*----- Tabs Bar --------------------*/
#tabsbar {
    position: fixed;
    background-color: #181818;
    border: #2b2b2b 1px solid;
    border-left: none;
    top: 50px;
    right: 0px;
    left: 310px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}

body.sidebar-closed #tabsbar {
  left: 75px;
}

#tabsbar a {
    width: fit-content;
    display: inline-block;
}

#tabsbar a.active {
    border-right: #2b2b2b 1px solid;
    border-top: #00ffff 2px solid;
    background-color: #1f1f1f;
    padding: 14px 10px 16.5px 15px;
}

#tabsbar a:not(.active) {
    border-right: #2b2b2b 1px solid;
    padding: 16px 10px 16px 15px;
}

/*-----LOGIN PAGE--------------------*/
.login-container {
    width: 350px;
    margin-right: 515px;
    margin-left: auto;
    margin-top: 50px;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #AFAFAF;
    font-weight: normal;
}

.login-container label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #AFAFAF;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 320px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    background-color: #181818;
    color: #AFAFAF;
    font-size: 14px;
}

.login-container input:focus {
    outline: none;
    border-color: #00ffff; /* cyan highlight for focus*/
}

.forgot-password {
    color: #AFAFAF;
    font-size: 13px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #00ffff;
}

/*----- Packlist --------------------*/
#packlist {
    width: 100%;
    display: flex;
    padding: 25px 30px;
}

.editor {
  width: 95%;
  color: white;
  font-family: 'Georgia', serif;
  outline: none;
}

.page {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding-bottom: 50px;
  overflow-y: auto;
}

#add_container_button {
  width: fit-content;
  margin-top: auto;
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}
#add_container_name {
    margin-top: auto;
    padding: 6px; 
    background-color: #2b2b2b; 
    color: white; 
    border: 1px solid #444; 
    border-radius: 4px;
    outline: none;
    width: fit-content;
    min-width: 200px;
}

/* .container  */

/* make text white and the rest grey, indent the rest make an add conainer button, make editable, make free floating items, make pages*/

/* checklist, editabe, pages, checkable */
/* battery, good luck */
/* settings, idk random stuff */
/* python, make it an actual PWA, cache, save and upload files(might need the ... to save in the corner) */
/* footer, idk copy vscode */